{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administración</title>
    <link rel="stylesheet" href="{% static 'users/css/baseadmin.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+RO:wght@100..400&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Encabezado -->
    <header class="header">
        <div class="logo-container">
            <img src="{% static 'users/images/pyramid.png' %}" alt="Avatar" class="avatar">
            <h1 class="title apptitle">insumi</h1>

            <h1 class="title">Bienvenido: {{ request.user.name }}</h1>
            <h1 class="title">Agente: {{ request.user.get_user_type_display }}</h1>


            <div class="useroptions">
                <a href="{% url 'logout' %}" class="logout">
                    <h1 class="title">Termianar Sesion</h1>
                </a>
            </div>
        </div>
    </header>

    <!-- Contenedor principal -->
    <div class="container">
        <!-- Menú lateral -->
        <nav class="sidebar">
            <ul class="menu">
                {% if request.user.is_administrador %}
                <li><a href="{% url 'supplies_list' %}" class="menu-item supplies-menu">Gestión de Productos</a></li>
                <li><a href="{% url 'user_list' %}" class="menu-item user-menu">Gestión de Usuarios</a></li>
                <li><a href="{% url 'sales_list' %}" class="menu-item sales-menu">Mis Ventas</a></li>
                {% elif request.user.is_vendedor %}
                <li><a href="{% url 'sales_list' %}" class="menu-item">Mis Ventas</a></li>
                <li><a href="{% url 'user_list' %}" class="menu-item user-menu">Gestión de Usuarios</a></li>
                {% elif request.user.is_supervisor %}
                <li><a href="{% url 'user_list' %}" class="menu-item user-menu">Gestión de Usuarios</a></li>
                <li><a href="{% url 'sales_list' %}" class="menu-item sales-menu">Mis Ventas</a></li>
                {% endif %}
            </ul>
        </nav>

        <!-- Contenido principal -->
        <main class="content">
            <div class="placeholder-content">
                <div class="placeholder-text">
                    <span class="placeholder-icon">
                        {% block content %}

                        {% endblock %}
                    </span>
                </div>
            </div>
        </main>
    </div>
</body>

</html>