{% extends 'users/dashboard.html' %} {% load static %} {% block content %}

<head>
    <link rel="stylesheet" href="{% static 'users/css/list.css' %}">
</head>
<h1>{% if object %}Editar{% else %}Crear{% endif %} Usuario</h1>

<form method="post">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="{% url 'supplies_list' %}" class="btn btn-secondary">Cancelar</a>
</form>
<a href="{% url 'user_list' %}">Volver atras</a>
{% endblock %}