{% extends 'users/dashboard.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'users/css/list.css' %}">
</head>

<h6 class="title">Lista de Usuarios</h6>
<div class="action-buttons">
    <a href="{% url 'user_create' %}"><button class="action-button add">Añadir</button></a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Ciudad</th>
            <th>Estado</th>
            {% if request.user.is_administrador or request.user.is_supervisor %}
            <th>Usuarios Creados</th>
            {% endif %}
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% if request.user.is_administrador or request.user.is_supervisor %}
            {% for info in users_with_created_info %}
            <tr>
                <td>{% if info.user.email %}{{ info.user.email }}{% else %}Sin Correo{% endif %}</td>
                <td>{% if info.user.cedula %}{{ info.user.cedula }}{% else %}Sin Cédula{% endif %}</td>
                <td>{{ info.user.get_full_name }}</td>
                <td>{{ info.user.get_user_type_display }}</td>
                <td>{{ info.user.get_ciudad_display }}</td>
                <td>{% if info.user.is_active %}Activo{% else %}Inactivo{% endif %}</td>
                <td>
                    <!-- Desplegable para usuarios creados -->
                    <details>
                        <summary>{{ info.created_users_count }} usuarios creados</summary>
                        <ul>
                            {% for name in info.created_users_names %}
                            <li class="espaciado">{{ name }}</li>
                            {% endfor %}
                        </ul>
                    </details>
                </td>
                <td>
                    {% if request.user.is_administrador %}
                        <a href="{% url 'user_update' info.user.pk %}" class="btn btn-sm btn-info">Editar</a>
                    {% endif %}
                    {% if info.user.is_active %}
                        <a href="{% url 'user_toggle_active' info.user.pk %}" 
                            onclick="return confirm('¿Está seguro de que desea desactivar este usuario?');" 
                            class="btn btn-sm btn-warning">
                            Desactivar
                        </a>
                    {% else %}
                        <a href="{% url 'user_toggle_active' info.user.pk %}" class="btn btn-sm btn-success">Activar</a>
                    {% endif %}
                    {% if request.user.is_administrador %}
                    <a href="{% url 'user_delete' info.user.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        {% else %}
            {% for user in users %}
            <tr>
                <td>{% if user.email %}{{ user.email }}{% else %}Sin Correo{% endif %}</td>
                <td>{% if user.cedula %}{{ user.cedula }}{% else %}Sin Cédula{% endif %}</td>
                <td>{{ user.get_full_name }}</td>
                <td>{{ user.get_user_type_display }}</td>
                <td>{{ user.get_ciudad_display }}</td>
                <td>{% if user.is_active %}Activo{% else %}Inactivo{% endif %}</td>
                <td>
                    {% if request.user.is_administrador %}
                    <a href="{% url 'user_update' user.pk %}" class="btn btn-sm btn-info">Editar</a>
                    {% endif %}
                    {% if request.user.is_administrador or request.user.is_supervisor %}
                        {% if user.is_active %}
                            <a href="{% url 'user_toggle_active' user.pk %}" 
                                onclick="return confirm('¿Está seguro de que desea desactivar este usuario?');" 
                                class="btn btn-sm btn-warning">
                                Desactivar
                            </a>
                        {% else %}
                            <a href="{% url 'user_toggle_active' user.pk %}" class="btn btn-sm btn-success">Activar</a>
                        {% endif %}
                        <a href="{% url 'user_delete' user.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
</div>

{% endblock %}