<!-- templates/accounts/password_reset_complete.html -->
 {% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contraseña restablecida</title>
    <link rel="stylesheet" href="{% static 'users/css/resetpassword.css' %}">
</head>
<body>
    <div class="container">
        <h2>Contraseña restablecida</h2>
        <p>Tu contraseña ha sido restablecida con éxito. Ahora puedes iniciar sesión.</p>
        <a href="{% url 'login' %}">Iniciar sesión</a>
    </div>
</body>
</html>