{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer contraseña</title>
    <link rel="stylesheet" href="{% static 'users/css/resetpassword.css' %}">
</head>
<body>
    <div class="container">
        <h2>¿Olvidaste tu contraseña?</h2>
        <p>Ingresa tu correo electrónico para recibir un enlace de restablecimiento.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar enlace</button>


            <a href="{% url 'login' %}" class="back">Volver Atras</a>


        </form>
    </div>
</body>
</html>