{% extends 'users/dashboard.html' %} {% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'sales/css/salesdashboard.css' %}">
</head>
<div>
    <div class="sales-header">
        <h1><span style="font-weight:800;">Dashboard de Ventas</span></h1>
        <a href="{% url 'reports' %}"><span style="font-weight:400;" class="action-button generate-report">Generar Reportes</span></a>
     
    </div>
    <p>
        <strong>Total de Ventas:</strong>{{ total_ventas }}
    </p>
    <p>
        <strong>Total en Dinero:</strong>${{ total_dinero }}
    </p>
    <h2>Ventas por Insumo (Top 5)</h2>
    <ul>
        {% for item in ventas_por_insumo %}
<li>{{ item.insumo__nombre }}: {{ item.total }} unidades</li>
        {% endfor %}
    </ul>
    <h2>Ventas por Vendedor</h2>
    <ul>
        {% for item in ventas_por_vendedor %}
<li>{{ item.vendedor__email }}: {{ item.total }} unidades</li>
        {% endfor %}
    </ul>
    <h3>Gráfica de Ventas Mensuales</h3>
    <canvas id="ventasMensualesChart" width="400" height="200"></canvas>
{{ ventas_mensuales|json_script:"ventas-mensuales" }}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
            const rawData = JSON.parse(document.getElementById("ventas-mensuales").textContent);
        
            const labels = rawData.map(item => item.mes);
            const data = rawData.map(item => item.total);
        
            new Chart(document.getElementById('ventasMensualesChart'), {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Cantidad Vendida',
                        data: data,
                        backgroundColor: 'rgba(75, 192, 192, 0.5)',
                        borderColor: 'rgb(75, 192, 192)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>
</div>
<h6 class="title">Lista de Ventas</h6>
<div class="action-buttons">
    <a href="{% url 'venta_create' %}"><button class="action-button add">Añadir</button></a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Insumo</th>
            <th>Cantidad Vendida</th>
            <th>Fecha de Venta</th>
            <th>Vendedor Responsable</th>
            <th>Precio Total</th>
            {% if request.user.is_administrador %}
            <th>Acciones</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for venta in ventas %}
                {% if request.user.is_vendedor or request.user.is_promotor %}
                    {% if venta.vendedor.email == request.user.email %}
<tr>
            <td>{{ venta.insumo.nombre }}</td>
            <td>{{ venta.cantidad_vendida }}</td>
            <td>{{ venta.fecha_venta }}</td>
            <td>{{ venta.vendedor.email }}</td>
            <td>{{ venta.total_venta }}</td>
            <td>
                {% if request.user.is_administrador %}<a href="{% url 'venta_update' venta.pk %}" class="btn btn-sm btn-info">Editar</a><a href="{% url 'venta_delete' venta.pk %}" class="btn btn-sm btn-danger">Eliminar</a>{% endif %}
            </td>
        </tr>
        {% endif %}
                {% else %}
        <tr>
            <td>{{ venta.insumo.nombre }}</td>
            <td>{{ venta.cantidad_vendida }}</td>
            <td>{{ venta.fecha_venta }}</td>
            <td>{{ venta.vendedor.email }}</td>
            <td>{{ venta.total_venta }}</td>
            <td>
                {% if request.user.is_administrador %}<a href="{% url 'venta_update' venta.pk %}" class="btn btn-sm btn-info">Editar</a><a href="{% url 'venta_delete' venta.pk %}" class="btn btn-sm btn-danger">Eliminar</a>{% endif %}
            </td>
        </tr>
        {% endif %}
            {% endfor %}
    </tbody>
</table>
{% endblock %}